{{ define "content" }}
<h1>Application Details &mdash; {{ .Name }} </h1>

<div class="card my-3">
    <div class="card-body">
        <dl>
            <dt
                title="The human-readable name given to the application."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Name
            </dt>
            <dd>{{ .Name }}</dd>
            <dt
                title="The immutable key that serves as a globally unique identifier for the application."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Key
            </dt>
            <dd>{{ .Key }}</dd>
            <dt
                title="The name of the Go type that implements the application interface."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Implementation
            </dt>
            <dd>{{ type .Impl }}</dd>
            {{ if .Impl.Docs }}
                <dt
                    title="The documentation comments from the source code."
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                >
                    Documentation
                </dt>
                <dd>{{ .Impl.Docs }}</dd>
            {{ end }}
        </dl>
    </div>
</div>

<section class="mt-5">
    <h2 id="handlers"><a href="#handlers"><i class="bi bi-link"></i></a> Handlers</h2>

    <p class="my-3">
        Analysis of the <strong>{{ .Name }}</strong> application discovered
        <strong>{{ len .Handlers }}</strong> message handler(s).
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <th
                title="The human-readable name given to the handler."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Name
            </th>
            <th
                title="The type of handler interface implemented by the handler."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Type
            </th>
            <th
                title="The name of the Go type that implements the handler interface."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Implementation
            </th>
            <th
                title="The number of messages produced or consumed by the handler."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                class="numeric-column"
            >
                Messages
            </th>
        </thead>
        <tbody>
            {{ range $h := .Handlers }}
                <tr>
                    <td><a href="/handlers/{{ $h.Key }}">{{ $h.Name }}</a></td>
                    <td>{{ $h.Type }}</td>
                    <td>{{ type $h.Impl }}</td>
                    <td class="numeric-column"><a href="/handlers/{{ $h.Key }}#messages">{{ $h.MessageCount }}</a>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>

<section class="mt-5">
    <h2 id="messages"><a href="#messages"><i class="bi bi-link"></i></a> Messages</h2>

    <p class="my-3">
        Analysis of <strong>{{ len .Handlers }}</strong> handlers within the
        <strong>{{ .Name }}</strong> application discovered
        <strong>{{ len .Messages }}</strong> different message type(s).
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <th
                title="The short name of the message."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Name
            </th>
            <th
                title="The role that the message plays within the <strong>{{ .Name }}</strong> application."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                data-bs-html="true"
            >
                Role
            </th>
            <th
                title="The name of the Go type that defines the message."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
            >
                Implementation
            </th>
            <th
                title="The number of handlers that produce the message."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                class="numeric-column"
            >
                Producers
            </th>
            <th
                title="The number of handlers that consume the message."
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                class="numeric-column"
            >
                Consumers
            </th>
        </thead>
        <tbody>
            {{ range $m := .Messages }}
                <tr>
                    <td><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}">{{ $m.Impl.Name }}</a></td>
                    <td>{{ $m.Role }}</td>
                    <td>{{ type $m.Impl }}</td>
                    <td class="numeric-column"><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#producers">{{ $m.ProducerCount }}</a></td>
                    <td class="numeric-column"><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#consumers">{{ $m.ConsumerCount }}</a></td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>

{{ end }}
