{{ define "content" }}
<h1>Applications</h1>

<p class="my-3">
    Static analysis of <strong>{{ .TotalRepoCount }}</strong> repositories
    has discovered <strong>{{ len .Applications }}</strong> Dogma application(s).
</p>

<table class="table table-striped table-hover">
    <thead>
        <th><span
            title="The human-readable name given to the application."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Name
        </span></th>
        <th><span
            title="The name of the Go type that implements the application interface."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Implementation
        </span></th>
        <th class="numeric-column"><span
            title="The number of message handlers registered with the application."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Handlers
        </span></th>
        <th class="numeric-column"><span
            title="The number of messages produced or consumed by the handlers within the application."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Messages
        </span></th>
    </thead>
    <tbody>
        {{ range $a := .Applications }}
            <tr>
                <td><a href="/applications/{{ $a.Key }}">{{ $a.Name }}</a></td>
                <td>{{ type $a.Impl }}</td>
                <td class="numeric-column"><a href="/applications/{{ $a.Key }}#handlers">{{ $a.HandlerCount }}</a></td>
                <td class="numeric-column"><a href="/applications/{{ $a.Key }}#messages">{{ $a.MessageCount }}</a></td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
