{{ define "handler_table" }}
<table class="table table-striped table-hover">
    <thead>
        <th><span
            title="The human-readable name given to the handler."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Name
        </span></th>
        <th><span
            title="The type of handler interface implemented by the handler."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Type
        </span></th>
        <th><span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="The name of the Go type that implements the handler interface."
        >
            Implementation
        </span></th>
        <th><span
            title="The application that the handler belongs to."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Application
        </span></th>
    </thead>
    <tbody>
        {{ range $h := . }}
        <tr>
            <td><a href="/handlers/{{ $h.Key }}">{{ $h.Name }}</a></td>
            <td>{{ handlertype $h.Type }}</td>
            <td>{{ type $h.Impl }}</td>
            <td><a href="/applications/{{ .AppKey }}">{{ .AppName }}</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ define "content" }}
<h1>Message Details &mdash; {{ .Impl.Name }} </h1>

<div class="card my-3">
    <div class="card-body">
        <dl>
            <dt><span
                title="The short name of the message."
                data-bs-toggle="tooltip"
                data-bs-placement="top"
            >
                Name
            </span></dt>
            <dd>{{ .Impl.Name }}</dd>
            <dt><span
                title="The role(s) that the message plays within the the applications that use it."
                data-bs-toggle="tooltip"
                data-bs-placement="top"
            >
                Role
            </span></dt>
            <dd>{{ role .Role }}</dd>
            <dt><span
                title="The name of the Go type that defines the message type."
                data-bs-toggle="tooltip"
                data-bs-placement="top"
            >
                Implementation
            </span></dt>
            <dd>{{ type .Impl }}</dd>

            {{ if .Impl.Docs }}
                <dt><span
                    title="The documentation comments from the source code."
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                >
                    Documentation
                </span></dt>
                <dd>{{ .Impl.Docs }}</dd>
            {{ end }}
        </dl>
    </div>
</div>

{{ if .HasRoleMismatch }}
<div class="alert alert-warning" role="alert">
    <h4 id="role-mismatch" class="alert-heading">
        <i class="bi bi-exclamation-triangle-fill"></i>
        Role Mismatch
    </h4>
    <p class="mb-0">
        Not all handlers agree that <strong>{{ .Impl.Name }}</strong> is
        {{ if eq .Role "event" }}an{{ else }}a{{ end }} <strong>{{ .Role }}</strong>.
        Any given message should only be used in one role.
    </p>
</div>
{{ end }}

{{ if .HasPointerMismatch }}
<div class="alert alert-warning" role="alert">
    <h4 id="pointer-mismatch" class="alert-heading">
        <i class="bi bi-exclamation-triangle-fill"></i>
        Pointer Usage Mismatch
    </h4>
    <p class="mb-0">
        Some handlers use the <strong>{{ .Impl.Package }}.{{ .Impl.Name }}</strong>
        type directly, whereas others use a pointer. Dogma does <strong>not</strong>
        treat these types as equivalent. All handlers should use exactly the
        same type for a given messsage.
    </p>
</div>
{{ end }}

<section class="mt-5">
    <h2 id="applications"><a href="#applications"><i class="bi bi-link"></i></a> Applications</h2>

    <p class="my-3">
        Analysis discovered <strong>{{ len .Applications }}</strong>
        application(s) that use the <strong>{{ .Impl.Name }}</strong> message.
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <th><span
                title="The human-readable name given to the application."
                data-bs-toggle="tooltip"
                data-bs-placement="top"
            >
                Name
            </span></th>
            <th><span
                title="The name of the Go type that implements the application interface."
                data-bs-toggle="tooltip"
                data-bs-placement="top"
            >
                Implementation
            </span></th>
        </thead>
        <tbody>
            {{ range $a := .Applications }}
                <tr>
                    <td><a href="/applications/{{ $a.Key }}">{{ $a.Name }}</a></td>
                    <td>{{ type $a.Impl }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>

<section class="mt-5">
    <h2 id="producers"><a href="#producers"><i class="bi bi-link"></i></a> Producers</h2>

    {{ if .Producers }}
        <p class="my-3">
            Analysis discovered <strong>{{ len .Producers }}</strong> message
            handler(s) that produce the <strong>{{ .Impl.Name }}</strong> message.
        </p>

        {{ block "handler_table" .Producers }}{{ end }}
    {{ else }}
        <p class="my-3">
            Analysis did not discover any message handler(s) that produce the
            <strong>{{ .Impl.Name }}</strong> message.
        </p>
    {{ end }}
</section>

<section class="mt-5">
    <h2 id="consumers"><a href="#consumers"><i class="bi bi-link"></i></a> Consumers</h2>

    {{ if .Consumers }}
        <p class="my-3">
            Analysis discovered <strong>{{ len .Consumers }}</strong> message
            handler(s) that consume the <strong>{{ .Impl.Name }}</strong> message.
        </p>

        {{ block "handler_table" .Consumers }}{{ end }}
    {{ else }}
        <p class="my-3">
            Analysis did not discover any message handler(s) that consume the
            <strong>{{ .Impl.Name }}</strong> message.
        </p>
    {{ end }}
</section>
{{ end }}
