{{ define "content" }}
<h1>Messages</h1>

<p class="my-3">
    Static analysis of <strong>{{ .TotalRepoCount }}</strong> repositories
    has discovered <strong>{{ .TotalAppCount }}</strong> Dogma application(s)
    and <strong>{{ .TotalHandlerCount }} </strong> handlers which use a total of
    <strong>{{ len .Messages }}</strong> distinct message type(s).
</p>

<table class="table table-striped table-hover">
    <thead>
        <th><span
            title="The short name of the message."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Name
        </span></th>
        <th><span
            title="The role that the message plays within the applications that use it."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-html="true"
        >
            Role
        </span></th>
        <th><span
            title="The name of the Go type that defines the message."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Implementation
        </span></th>
        <th class="numeric"><span
            title="The number of applications that use the message."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Applications
        </span></th>
        <th class="numeric"><span
            title="The number of handlers that produce the message."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Producers
        </span></th>
        <th class="numeric"><span
            title="The number of handlers that consume the message."
            data-bs-toggle="tooltip"
            data-bs-placement="top"
        >
            Consumers
        </span></th>
    </thead>
    <tbody>
        {{ range $m := .Messages }}
            <tr>
                <td><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}">{{ $m.Impl.Name }}</a></td>
                <td>
                    {{ role $m.Role }}

                    {{ if $m.HasRoleMismatch }}
                    <a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#role-mismatch"><i
                        title="Not all handlers agree that <strong>{{ .Impl.Name }}</strong> is {{ if eq .Role "event" }}an{{ else }}a{{ end }} <strong>{{ .Role }}</strong>."
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-html="true"
                        class="bi bi-exclamation-triangle-fill"
                    ></i></a>
                    {{ end }}
                </td>
                <td>
                    {{ type $m.Impl }}

                    {{ if $m.HasPointerMismatch }}
                    <a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#pointer-mismatch"><i
                        title="Some handlers use this message type directly, whereas others use a pointer."
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-html="true"
                        class="bi bi-exclamation-triangle-fill"
                    ></i></a>
                    {{ end }}
                </td>
                <td class="numeric"><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#applications">{{ .AppCount }}</a>
                <td class="numeric"><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#producers">{{ $m.ProducerCount }}</a></td>
                <td class="numeric"><a href="/messages/{{ $m.Impl.Package }}.{{ $m.Impl.Name }}#consumers">{{ $m.ConsumerCount }}</a></td>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
