{{ define "content" }}
<table class="table table-striped table-hover">
    <thead>
        <th>Name</th>
        <th>Implementation</th>
        <th style="text-align: right;">Handlers</th>
        <th style="text-align: right;">Messages</th>
    </thead>
    <tbody>
        {{ range .Table }}
        <tr>
            <td><a href="/application/{{ .AppKey }}">{{ .AppName }}</a></td>
            <td>{{ .AppTypeName }}</td>
            <td style="text-align: right;"><a href="/application/{{ .AppKey }}#handlers">{{ .HandlerCount }}</a></td>
            <td style="text-align: right;"><a href="/application/{{ .AppKey }}#messages">{{ .MessageCount }}</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
