{{ define "content" }}
<h1>Messages</h1>

<table class="table table-striped table-hover">
    <thead>
        <th>Implementation</th>
        <th>Role</th>
        <th style="text-align: right;">Applications</th>
        <th style="text-align: right;">Handlers</th>
    </thead>
    <tbody>
        {{ range .Messages }}
        <tr>
            <td><a href="/messages/{{ .MessageTypeName }}">{{ block "typename" .MessageTypeName }}?{{end}}</a></td>
            <td>{{ .Role }}</a></td>
            <td style="text-align: right;"><a href="/messages/{{ .MessageTypeName }}#applications">{{ .AppCount }}</a></td>
            <td style="text-align: right;"><a href="/messages/{{ .MessageTypeName }}#handlers">{{ .HandlerCount }}</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
