{{ define "content" }}
<h1>Messages</h1>

<p class="my-3">
    Static analysis of <strong>{{ .TotalRepoCount }}</strong> repositories
    has discovered <strong>{{ .TotalAppCount }}</strong> Dogma application(s)
    and <strong>{{ .TotalHandlerCount }} </strong> handlers which use a total of
    <strong>{{ len .Messages }}</strong> distinct message type(s).
</p>

<table class="table table-striped table-hover">
    <thead>
        <th data-bs-toggle="tooltip" data-bs-placement="left" title="The name of the Go type that defines the message.">
            Implementation</th>
        <th data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true"
            title="The role that the message plays within the application that use it.">Role</th>
        <th data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true"
            title="The number of applications that use the message." style="text-align: right;">Applications</th>
        <th data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true"
            title="The number of handlers that produce or consume the message." style="text-align: right;">Handlers</th>
    </thead>
    <tbody>
        {{ range .Messages }}
        <tr>
            <td><a href="/messages/{{ .MessageTypeName }}"><span class="text-muted">{{ .MessageTypeName.PackagePath
                        }}/</span>{{ .MessageTypeName.Name }}</a></td>
            <td>{{ .MessageRole }}</a></td>
            <td style="text-align: right;"><a href="/messages/{{ .MessageTypeName }}#applications">{{ .AppCount }}</a>
            </td>
            <td style="text-align: right;"><a href="/messages/{{ .MessageTypeName }}#handlers">{{ .HandlerCount }}</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
